<div class="register">
  <h1>S'inscrire</h1>

  <form action="register" method="POST">
    <label for="username"><i class="fas fa-user"></i></label>
    <input
      type="text"
      id="username"
      name="username"
      placeholder="Username"
      required
    />
    <label for="password"><i class="fas fa-lock"></i></label>
    <input
      type="password"
      id="password"
      name="password"
      placeholder="password"
      required
    />

    <button type="submit">S'inscrire</button>
  </form>
  <a href="login">Se connecter</a>
</div>
