<header>
  <nav class="header-nav">
    <a href="/" id="Entete" class="header-title">Squirrelic Buster</a>

    <ul>
      <li class="header-link">
        <a href="/authors" class="liens">Auteurs / Réalisateurs </a>
      </li>
      <li class="header-link">
        <a href="/authors/new" class="liens">Ajouter un auteur / réalisateur</a>
      </li>
      <li class="header-link">
        <a href="/books" class="liens">Films et Livres</a>
      </li>
      <li class="header-link">
        <a href="/books/new" class="liens">Ajouter un film / livre</a>
      </li>
      <li class="header-link">
        <a href="/account/login" class="liens">Compte</a>
      </li>
    </ul>
  </nav>
</header>
