<header>
  <nav>
    <a href="/">Squirrel Buster</a>

    <ul>
      <li><a href="/authors">Réalisateurs</a></li>
      <li><a href="/authors/new">Ajouter réalisateurs</a></li>
    </ul>
  </nav>
</header>
